{% extends 'base.html.twig' %}

{% block title %}Chez Dionysos - Accueil{% endblock %}

{% block body %}

<div class="global-container">

    {% include 'navBar.html.twig' %}

    <div class="article-container">

        {# Title #}
        {% include 'title.html.twig' with {title:'Bienvenue chez Dionysos'} %}


        {# Presentation #}
        <section class="bg-winter-hazel-100 p-8">
            <article class="items-center justify-center grid grid-cols-8 gap-8">
                <img src="{{ asset('frontShop.jpg') }}" alt="façade du restaurant" class="object-contain lg:col-span-4 lg:col-start-1 col-start-2 col-span-6 rounded shadow-md">
                <div class="xl:text-xl text-base font-medium lg:col-span-4 col-span-8 col-start-1">

                    Le label <a href="https://www.economie.gouv.fr/entreprises/fait-maison#" class="text-red-800 hover:decoration-2 hover:underline hover:underline-offset-7">"Fait Maison"</a> est sorti et nous en sommes très heureux Chez Dionysos. <br><br>

                    N'hésitez à vous <a href="https://www.economie.gouv.fr/files/files/PDF/20140715_DP_Fait_Maison.pdf" class="text-red-800 hover:decoration-2 hover:underline hover:underline-offset-7">informer</a> sur cette nouvelle disposition. <br><br>

                    En ce qui nous concerne, toutes nos entrées, tous nos plats et tous nos desserts sont "Fait Maison"
                    selon le décret du <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000029225331" class="text-red-800 hover:decoration-2 hover:underline hover:underline-offset-7">Décret n°2014-797 du 11 juillet 2014</a>
                    modifié par le <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000030555919" class="text-red-800 hover:decoration-2 hover:underline hover:underline-offset-7">Décret n°2015-505 du 6 mai 2015</a>. <br><br>
                    Alors venez les gouter dans notre restaurant 1 rue du Tabour 45000 ORLEANS.<br>
                    A bientôt!

                </div>
            </article>
        </section>

        {# gradient #}
        <section class="bg-gradient-to-b from-winter-hazel-100 to-winter-hazel-300 h-8"></section>


        {# Carousel #}
        <section class="bg-winter-hazel-300 py-8">
            {% include 'home/carousel.html.twig' %}
            <div id="avis" class="p-8 mx-auto md:w-2/3 w-4/5">
                <h1 class="justify-center text-center text-4xl mb-8 underline-offset-8 underline">Vos avis</h1>
                <ul class="grid grid-cols-8 text-center lg:text-xl text-md font-medium text-red-600">
                    <li class="col-span-2 hover:text-red-800 duration-300 underline-offset-2 underline"><a href="https://www.pagesjaunes.fr/pros/54387331">Pages Jaunes</a></li>
                    <li class="col-span-2 hover:text-red-800 duration-300 underline-offset-2 underline"><a href="https://www.tripadvisor.fr/Restaurant_Review-g187129-d6364130-Reviews-Chez_Dionysos-Orleans_Loiret_Centre_Val_de_Loire.html">Tripadvisor</a></li>
                    <li class="col-span-2 hover:text-red-800 duration-300 underline-offset-2 underline"><a href="https://www.google.fr/maps/place/Chez+Dionysos/@47.900445,1.9037908,19z/data=!4m8!3m7!1s0x47e4e4d6b059bae9:0x1af1b852a02da859!8m2!3d47.9003321!4d1.9037475!9m1!1b1!16s%2Fg%2F1tgxhbyh?entry=ttu">Google</a></li>
                    <li class="col-span-2 hover:text-red-800 duration-300 underline-offset-2 underline"><a href="https://www.linternaute.com/restaurant/restaurant/164067/chez-dionysos.shtml">L'internaute</a></li>
                </ul>
            </div>
        </section>

        {# gradient #}
        <section class="bg-gradient-to-b from-winter-hazel-300 to-neutral-900 h-8"></section>

        {# Map#}
        <section class="flex flex-wrap py-8 bg-neutral-900 items-center justify-center md:gap-28 gap-12">
            <div class="md:text-xl text-sm md:px-0 px-8 text-winter-hazel-50">
                Retrouvez nous au : 1 rue du Tabour 45000 ORLEANS ! <br><br>
                Du Mardi au Samedi <br><br>
                De 12h-14h et de 19h-22h <br> <br>
                Pour les réservations de plus de 8 personnes <br><br>
                Contactez nous : 02 38 53 71 12
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d344.15478294277403!2d1.9038540961792454!3d47.90042202606662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e4d6b059bae9%3A0x1af1b852a02da859!2sChez%20Dionysos!5e0!3m2!1sfr!2sfr!4v1711573505212!5m2!1sfr!2sfr" width="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" 
            class="object-contain md:h-96 h-64 max-w-64 sm:max-w-sm md:max-w-lg"></iframe>
        </section>

        {% include 'footer.html.twig' %}

        
        
        


    </div>



</div>
{% endblock %}
