{% extends 'base.html.twig' %}

{% block title %}Chez Dionysos - Réservation{% endblock %}

{% block body %}


    <div class="global-container">

        {% include 'navBar.html.twig' %}

        <div class="article-container">

            {# Title #}
            {% include 'title.html.twig' with {title:'Réservation'} %}


            {# Réserver #}
            <section class="second-section bg-winter-hazel-200">
                <form class="w-2/3 p-8 m-auto" method="post" action="/reservation" id="reservationForm">
                    <div id="form-first-part">
                        {% include 'reservation/firstFormPart.html.twig'%}
                    </div>

                    <div id="form-second-part">
                        {% include 'reservation/secondFormPart.html.twig'%}
                    </div>

                    <input type="hidden" name="token" value="{{ csrf_token('make-reservation') }}">

                    <div class="" id="reserver-button">
                        <input onClick="reserverPartUn()" type="submit" name="reserver" value="Réserver" class="md:p-5 p-0 w-1/3 rounded-lg md:text-lg text-xs text-center bg-winter-hazel-600 text-neutral-50">
                    </div>

                    <div class="flex flex-wrap gap-8">
                        <div class="w-1/3" id="back-reservation-button">
                            <input onClick="backReservation()" type="button" name="back" value="back" class="md:p-5 p-0 w-full rounded-lg md:text-lg text-xs text-center bg-neutral-600 text-neutral-50">
                        </div>

                        <div class="w-1/3" id="confirmer-reservation-button">
                            <input onClick="ConfirmerReservation()" type="button" name="confirmer" value="Confirmer Réservation" class="md:p-5 p-0 w-full rounded-lg md:text-lg text-xs text-center bg-winter-hazel-600 text-neutral-50">
                        </div>
                    </div>

                </form>
            </section>

            
        </div>

        {% include 'footer.html.twig' %}

        <script src="{{asset('js/reservation.js')}}"></script>
    </div>
{% endblock %}
