{% extends 'base.html.twig' %}

{% block title %}Dionysos - Mentions Obligatoires{% endblock %}

{% block body %}

<div class="mx-4">
    <p class="my-4">Identité</p>
    <div class="my-2 ml-4">
        <p>dénomination sociale</p>
        <p>forme juridique</p>
        <p>montant du capital social</p>
    </div>

    <p class="my-4">coordonnées</p>
    <div class="my-2 ml-4">
    </div>

    <p class="my-4">Les mentions relatives à la propriété intellectuelle</p>
    <div class="my-2 ml-4">
        <p>Images svg : <a href="https://www.svgrepo.com/collection/dazzle-line-icons/">Svg Repo</a></p>
    </div>

    <p class="my-4">Mentions légales</p>
    <div class="my-2 ml-4">
        <p>le nom de l’hébergeur</p>
        <p>la raison sociale</p>
        <p>l’adresse</p>
        <p>le numéro de téléphone.</p>
    </div>
</div>
{% endblock %}
