<footer class="bg-neutral-900 text-winter-hazel-50 md:py-12 py-6 md:pl-12 pl-4 sm:text-base text-xs">
    <div class="flex gap-12">
        <div class="w-1/3">
        adresse : 1 rue du Tabour 45000 ORLEANS <br><br>
        téléphone : 02 38 53 71 12 <br><br>
        mail : info@chezdionysos.fr
        </div>

        <div class="w-1/3">
        <a class="underline" href="/cgu">Conditions général d'utilisation</a><br><br>
        <a class="underline" href="/mentions-obligatoire">Mentions Obligatoires</a><br><br>
        
        </div>
    </div>
</footer>