<nav class="grid grid-cols-3 p-4 m-0 bg-neutral-900 text-winter-hazel-50">
    <li class="text-center col-span-1 hover:underline hover:decoration-2 hover:underline-offset-7 list-none lg:text-3xl text-lg"><a href="/">Accueil</a></li>
    <li class="text-center col-span-1 hover:underline hover:decoration-2 hover:underline-offset-7 list-none lg:text-3xl text-lg"><a href="/menu">Menu</a></li>
    <li class="text-center col-span-1 hover:underline hover:decoration-2 hover:underline-offset-7 list-none lg:text-3xl text-lg"><a href="/reservation">Réservation</a></li>
</nav>