<nav>
    <li class="logo"><img src=""></li>
    <li class="home"><a href="/" class="nav-items">Accueil</a></li>
    <li class="menu"><a href="/menu" class="nav-items">Menu</a></li>
    <li class="reservation"><a href="/reservation" class="nav-items">Reservation</a></li>
</nav>