{% extends 'base.html.twig' %}

{% block title %}Chez Dionysos - CGU{% endblock %}

{% block body %}
<div class="bg-neutral-200 mt-0 px-48 py-16">
    <div class="bg-neutral-50 p-16 font-light shadow-xl rounded-2xl leading-6">
        <h3 class="text-center text-3xl tracking-tight mb-16 font-normal"> CONDITIONS GÉNÉRALES D’UTILISATION ET DE PRESTATION </h3>

        <div class="text-center">Mise à jour : 6 Août 2019</div>

<div class="my-8">Les présentes Conditions Générales d’Utilisation et de Prestation (ci-
après, les « CGU ») s’appliquent aux services proposés par la société
NAHDEV, ci-après dénommée la « Société », à savoir un service gratuit,
conformément au contenu détaillé dans les présentes CGU pour
l’utilisateur, de réservation en ligne de table de restaurant (ci-après,
le « Service » ou les « Services »).</div>

<div class="my-8">L’utilisation de notre Service de réservation emporte l’adhésion, sans
réserve, des clients réservant une table en (ci-après, l’ « Utilisateur
» ou les « Utilisateurs »), aux présentes CGU, sauf conditions
particulières consenties par écrit par la Société NAHDEV.</div>

<div class="my-8">A défaut d’accepter les CGU dans leur intégralité, les Utilisateurs sont
tenus de s’abstenir d’accéder et d’utiliser le Service.</div>

<div class="my-8">Les présentes Conditions générales peuvent être révisées à tout moment.
A ce titre, une version révisée avec la date de mise à jour sera mise en
ligne sur la plateforme (ci-après, le « Site »). Les Utilisateurs seront
liés par cette version révisée, si ils continuent à utiliser les
Services après la date de révision des CGU.</div>

<div class="my-8">La responsabilité de la Société NAHDEV ne peut pas être engagée en cas
d'inexécution ou de mauvaise exécution du contrat due, soit au fait de
l’Utilisateur, soit au fait insurmontable et imprévisible d'un tiers au
contrat, soit à la force majeure.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">1. PRESTATAIRE DE SERVICE</div>

<div class="my-8">La Société NAHDEV au capital de 1000€, immatriculée au RCS de ORLEANS
sous le numéro 79886848500011, ayant son siège social au 1 RUE DU TABOUR
45000 ORLEANS. Numéro de TVA : FR83798868485.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">2. SERVICE</div>

<div class="my-8">1. La Société NAHDEV propose un service de réservation en ligne.

<div class="my-8">2. L'utilisation du module de réservation sur le site du restaurant
conformément aux présentes Conditions Générales est gratuite (sauf
mentions particulières sous-mentionnées conformément à l’article 4 des
présentes CGU et relatif aux particularités d’utilisation du service
avec pré-autorisation bancaire) pour l'Utilisateur.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">3. CONDITIONS D'UTILISATION DU SERVICE</div>

<div class="my-8">Pour pouvoir utiliser le Service, l’Utilisateur doit disposer de la
capacité à contracter, c’est-à-dire, a minima, être âgé de plus de 18
ans. Pour utiliser le Service, l’Utilisateur se connecte via son
navigateur Internet sur le module de réservation disponible sur le Site.
Il s'inscrit en saisissant les informations obligatoires indiquées sur
le formulaire à savoir : état civil, nom, prénom, adresse email,
téléphone mobile.</div>

<div class="my-8">1. Le Service ne peut pas être utilisé sans que l’Utilisateur n’ait
procédé à cette inscription préalable.</div>

<div class="my-8">2. L’Utilisateur accepte les présentes CGU dès lors qu’il procède à son
inscription.</div>

<div class="my-8">3. Il incombe à l’Utilisateur de veiller à la validité de son adresse
email et de son numéro de téléphone.</div>

<div class="my-8">4. Les notifications que la plateforme du Site envoie par courrier
électronique seront réputées avoir été remises et reçues à la date de
transmission du courrier électronique.</div>

<div class="my-8">5. Les notifications que la plateforme du Site envoie par SMS seront
réputées avoir été remises et reçues à la date de transmission du SMS.</div>

<div class="my-8">6. L’Utilisateur accepte de recevoir des communications par courrier
électronique en provenance de la Société NAHDEV et relatives à la
réservation, comme par exemple des informations de confirmation,
d’annulation, ou de demande d’avis.</div>

<div class="my-8">7. L’Utilisateur accepte de recevoir des communications par SMS en
provenance du restaurant et relatives à la réservation, comme par
exemple des informations de confirmation, d’annulation ou de demandes
d’avis.</div>

<div class="my-8">8. L’Utilisateur accepte que ces informations puissent être utilisées
pour des analyses statistiques pour la Société NAHDEV</div>

<div class="my-8">9. En cas de réservation avec pré-autorisation bancaire ou prépaiement
bancaire, les prix des menus et des plats, conformément à l'article L.
112-1 du code de la consommation, sont indiqués, en euros toutes taxes
comprises. Le montant total dû par l’Utilisateur est indiqué sur la page
de confirmation de commande. Le prix de vente des prestations de
restauration est celui en vigueur au jour de la commande. La Société
NAHDEV se réserve le droit de modifier les prix à tout moment, tout en
garantissant à l’Utilisateur l'application du prix en vigueur au jour de
la commande. Une facture sera transmise par la Société NAHDEV à
l’Utilisateur.</div>

<div class="my-8">10. L’Utilisateur a la possibilité de consulter, sous forme écrite, de
façon lisible et visible, le registre des allergènes sur place, au
restaurant de la Société NAHDEV ou en le demandant par email à l’adresse
suivante : info@chezdionysos.fr.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">4. CONDITIONS PARTICULIERES D'UTILISATION DU SERVICE AVEC PRÉ-
      AUTORISATION BANCAIRE</div>

<div class="my-8">L’Utilisateur reconnaît être informé que la Société NAHDEV est en droit
d’exiger au moment de la réservation les coordonnées bancaires de
l’Utilisateur par pré-autorisation bancaire et que celui-ci se réserve
la possibilité de conserver l’empreinte bancaire de l’Utilisateur en cas
de réservation non-honorée par l’Utilisateur ou d’annulation tardive par
l'Utilisateur, à savoir moins de 1 heures avant l’heure prévue de la
réservation conformément à l’article L221-28, 12 du Code de la
consommation, l’Utilisateur ne peut exercer son droit de rétractation
pour les prestations de services de restauration et d’activités de
loisirs qui doivent être fournis à une date ou période déterminée.</div>

<div class="my-8">Cette empreinte ne fera pas l’objet d’un débit hormis en cas
d’annulation tardive ou de réservation non-honorée. L’Utilisateur devra
fournir une carte de paiement dont la durée de validité est postérieure
à la réservation.</div>

<div class="my-8">1. La Société NAHDEV aura défini préalablement un tarif associé à la
réservation qui sera mentionné sur le formulaire de réservation avant
acceptation des présentes CGU par l’Utilisateur. Ce tarif correspond à
un montant par couvert multiplié par le nombre de couverts de la
réservation effectuée par l’Utilisateur.</div>

<div class="my-8 ml-8">   1.a. En cas de modification du nombre de couverts de la réservation
par l’Utilisateur, ce tarif peut augmenter en cas d’augmentation du
nombre de couverts ou diminuer en cas de diminution du nombre de
couverts. Le tarif final correspondant toujours au nombre de couverts
multiplié par le montant défini par la Société NAHDEV par couvert.</div>

<div class="my-8 ml-8">   1.b. La demande de modification du nombre de couverts doit elle aussi
intervenir dans le délai prévu par la Société NAHDEV soit 1 heures avant
l’heure prévue de la réservation.</div>

<div class="my-8">2. Cette pré-autorisation ne sera en aucun cas utilisée comme un
prépaiement par la Société NAHDEV pour la prestation réservée par
l’Utilisateur. La pré-autorisation a pour unique finalité de garantir la
Société NAHDEV de la venue de l’Utilisateur et de ses éventuels
convives. Aucune somme n’est prélevée à l’Utilisateur au moment de la
prise de la réservation (Lors d’une pré-autorisation par carte de débit,
un montant pourra être mis en séquestre par l’établissement bancaire de
l’Utilisateur mais en aucun cas ne sera versé à la Société NAHDEV). Le
paiement de la prestation par l’Utilisateur devra être effectué auprès
de la Société NAHDEV, par espèces (dans la limite du plafond
réglementaire), chèque (tiré exclusivement sur une banque domiciliée en
France), carte bancaire ou par tout autre mode de paiement accepté par
la Société NAHDEV.</div>

<div class="my-8">3. Dans le cas où le nombre de personnes se présentant au restaurant est
inférieur au nombre de couverts prévus à la prise de la réservation ou
après la modification du nombre de couverts par l’Utilisateur, la
différence entre le nombre de couverts prévus et le nombre de couverts
réel s’étant présenté pourra être prélevée par le restaurant sur les
coordonnées bancaires fournies par l’Utilisateur.</div>

<div class="my-8">4. En cas de non-présentation de l’Utilisateur ou d’une partie des
convives au restaurant, tout ou partie du montant de la pré-autorisation
pourra être prélevé par la Société NAHDEV sur le compte de
l’Utilisateur. Ce paiement interviendra à tout moment après l’heure
prévue de la réservation.</div>

<div class="my-8">5. La Société NAHDEV utilisant les services de la société Zenchef, la
mention de la société Zenchef comme initiateur du paiement pourra être
précisée sur le compte bancaire de l’Utilisateur en cas de non
présentation totale ou partielle de l’Utilisateur et de prélèvement,
étant entendu que les prestations réservées sont proposées directement
par la Société NAHDEV et non par Zenchef. En utilisant le service de
réservation d’une table avec la Société NAHDEV, l’Utilisateur conclue un
contrat directement avec la Société NAHDEV, Zenchef n’étant pas partie
au contrat</div>

<div class="my-8">6. En cas d’expiration, de perte, de vol, de manque de fonds sur le
moyen de paiement fourni par l’Utilisateur ou d’incapacité technique
empêchant le prélèvement des fonds, celui-ci s’engage à s’acquitter de
sa dette contractée auprès de la Société NAHDEV par tout moyen mis à la
disposition de l’Utilisateur par la Société NAHDEV, le jour même de la
réservation. Pour les utilisateurs inscrits au registre du commerce et
des sociétés, tout retard de paiement entraînera, après l’envoi d’une
lettre de mise en demeure, la facturation d’intérêts de retard hors
toutes taxes, équivalent à l’application d’un taux égal au taux de la
banque centrale européenne majoré de 10 points. Ces pénalités seront
appliquées de la date d’exigibilité du principal à celle du paiement
effectif et total. Une indemnité forfaitaire de compensation des frais
de recouvrement de 40 € sera due de plein droit par tous les
professionnels en cas de retard de paiement (art. L441-10 du code du
commerce).</div>

<div class="my-8">7. En cas de réservation avec pré-autorisation bancaire, des
informations supplémentaires à celles exigées dans le cadre du service
pour une réservation seront demandées à l’Utilisateur, à savoir : le nom
du titulaire de la carte bancaire, le type de carte bancaire, le numéro
de la carte bancaire, la date d’expiration de la carte bancaire ainsi
que le code de sécurité de la carte bancaire. Une identification par
3DSecure pourra éventuellement être demandée selon l’établissement bancaire.</div>

<div class="my-8">8. L’intégralité du processus de réservation par pré-autorisation
bancaire est protégé par la société Zenchef SAS par un certificat de
sécurité SSL. Les données bancaires sont stockées par la société Stripe,
fournisseur de la technologie de pré-autorisation et de prélèvement. La
politique de confidentialité en vigueur du service Stripe rentre en
application concernant le stockage et la sécurité des utilisateurs (Lien
de consultation : <a href="https://stripe.com/fr/privacy" class="text-lime-700 underline">https://stripe.com/fr/privacy</a>)</div>

<div class="my-8">9. La Société NAHDEV se réserve le droit de demander une pré-
autorisation après avoir confirmé ou modifié une réservation sans avoir
l’obligation d’avancer un motif particulier.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">5. CONDITIONS PARTICULIERES D'UTILISATION DU SERVICE AVEC PAIEMENT
      (AUSSI APPELE PREPAIEMENT) BANCAIRE IMMEDIAT</div>

<div class="my-8">L’Utilisateur reconnaît être informé que la Société NAHDEV est en droit
d’exiger au moment de la réservation les coordonnées bancaires de
l’Utilisateur par prépaiement bancaire immédiat.</div>

<div class="my-8">La Société NAHDEV se réserve la possibilité de conserver l’empreinte
bancaire de l’Utilisateur en cas de prestation dépassant le montant
prépayé par l’Utilisateur.</div>

<div class="my-8">Cette empreinte ne fera pas l’objet d’un débit complémentaire hormis en
cas de prestations complémentaires lors du repas, non précisées lors de
la réservation par l’Utilisateur. L’Utilisateur devra fournir une carte
de paiement dont la durée de validité est postérieure à la réservation.</div>

<div class="my-8">1. La Société NAHDEV aura défini préalablement un tarif associé à la
réservation qui sera mentionné sur le formulaire de réservation avant
acceptation des présentes CGU par l’Utilisateur. Ce tarif correspond à
un montant par couvert multiplié par le nombre de couverts de la
réservation effectuée par l’Utilisateur.</div>

<div class="my-8 ml-8">   1.a. En cas de modification du nombre de couverts de la réservation
par l’Utilisateur, ce tarif peut augmenter en cas d’augmentation du
nombre de couverts ou diminuer en cas de diminution du nombre de
couverts. Le tarif final correspondant toujours au nombre de couverts
multiplié par le montant défini par la Société NAHDEV par couvert.</div>

<div class="my-8 ml-8">   1.b. La demande de modification du nombre de couverts doit elle aussi
intervenir dans le délai prévu par la Société NAHDEV soit 1 heures avant
l’heure prévue de la réservation.</div>

<div class="my-8">2. Ce prépaiement sera utilisé comme un paiement par la Société NAHDEV
pour la prestation réservée par l’Utilisateur. Le prépaiement a pour
finalité de garantir la Société NAHDEV de la venue de l’Utilisateur et
de ses éventuels convives, et le paiement de l’addition du repas
réservé. La somme convenue au 1 du présent article 5 est prélevée à
l’Utilisateur au moment de la prise de la réservation et conformément à
l’article L221-28, 12 du Code de la consommation, l’Utilisateur ne peut
exercer son droit de rétractation pour les prestations de services de
restauration et d’activités de loisirs qui doivent être fournis à une
date ou période déterminée.</div>

<div class="my-8">Si l’addition devant être payée par l’Utilisateur et ses convives
dépasse le montant pré-payé par l’Utilisateur, le paiement du solde par
l’Utilisateur devra être effectué auprès de la Société NAHDEV, par
espèces (dans la limite du plafond réglementaire), chèque (tiré
exclusivement sur une banque domiciliée en France), carte bancaire ou
par tout autre mode de paiement accepté par la Société NAHDEV.</div>

<div class="my-8">3. Dans le cas où le nombre de personnes se présentant au restaurant est
inférieur au nombre de couverts prévus à la prise de la réservation ou
après la modification du nombre de couverts par l’Utilisateur, la
différence entre le nombre de couverts prévus et le nombre de couverts
réel s’étant présenté ne sera pas remboursé par la Société NAHDEV.</div>

<div class="my-8">4. En cas de non-présentation de l’Utilisateur ou d’une partie des
convives au restaurant, l’Utilisateur ne sera pas remboursé des sommes
versées.</div>

<div class="my-8">5. La Société NAHDEV utilisant les services de la société Zenchef, la
mention de la société Zenchef comme initiateur du paiement pourra être
précisée sur le compte bancaire de l’Utilisateur, étant entendu que les
prestations réservées sont proposées directement par la Société NAHDEV
et non par Zenchef. En utilisant le service de réservation d’une table
avec la Société NAHDEV, l’Utilisateur conclue un contrat directement
avec la Société NAHDEV, Zenchef n’étant pas partie au contrat</div>

<div class="my-8">6. En cas d’expiration, de perte, de vol, de manque de fonds sur le
moyen de paiement fourni par l’Utilisateur ou d’incapacité technique
empêchant le prélèvement des fonds, celui-ci s’engage à s’acquitter de
sa dette contractée auprès de la Société NAHDEV par tout moyen mis à la
disposition de l’Utilisateur par la Société NAHDEV, le jour même de la
réservation. Tout retard de paiement entraînera, après l’envoi d’une
lettre de mise en demeure, la facturation d’intérêts de retard hors
toutes taxes, équivalent à l’application d’un taux égal au taux de la
banque centrale européenne majoré de 10 points. Ces pénalités seront
appliquées de la date d’exigibilité du principal à celle du paiement
effectif et total.</div>

<div class="my-8">Une indemnité forfaitaire de compensation des frais de recouvrement de
40 € sera due de plein droit par tous les professionnels en cas de
retard de paiement (art. L441-10 du code du commerce).</div>

<div class="my-8">7. En cas de réservation avec prépaiement bancaire, des informations
supplémentaires à celles exigées dans le cadre du service pour une
réservation seront demandées à l’Utilisateur, à savoir : le nom du
titulaire de la carte bancaire, le type de carte bancaire, le numéro de
la carte bancaire, la date d’expiration de la carte bancaire ainsi que
le code de sécurité de la carte bancaire. Une identification par
3DSecure pourra éventuellement être demandée selon l’établissement bancaire.</div>

<div class="my-8">8. L’intégralité du processus de réservation par prépaiement bancaire
est protégé par la société Zenchef SAS par un certificat de sécurité
SSL. Les données bancaires sont stockées par la société Stripe,
fournisseur de la technologie de pré-autorisation et de prélèvement. La
politique de confidentialité en vigueur du service Stripe rentre en
application concernant le stockage et la sécurité des utilisateurs (Lien
de consultation : <a href="https://stripe.com/fr/privacy" class="text-lime-700 underline">https://stripe.com/fr/privacy</a>)</div>

<div class="my-8">9. La Société NAHDEV se réserve le droit de demander un prépaiement
après avoir confirmé ou modifié une réservation sans avoir l’obligation
d’avancer un motif particulier.</div>

<div class="my-8">10. La Société NAHDEV est autorisée à conserver les sommes versées par
l’Utilisateur lorsque celui-ci renonce à conclure ou à exécuter le
contrat, et l’Utilisateur a la possibilité de percevoir une indemnité
d’un montant équivalent, ou égale au double en cas de versement d’arrhes
au sens de l’article L. 214-1 du Code de la consommation, si c’est la
Société NAHDEV, qui y renonce.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">6. OBLIGATIONS DE L’UTILISATEUR</div>

<div class="my-8">1. En saisissant ses informations, l'Utilisateur accepte, expressément
et sans réserve, les termes des présentes conditions générales et des
éventuelles conditions particulières, présentes sur le Site.</div>

<div class="my-8">2. L'Utilisateur s'oblige à transmettre des renseignements exacts et
véritables notamment sur son état civil, son nom, son prénom, son
adresse email, son téléphone, nécessaires à sa bonne identification
(ainsi que ses coordonnées bancaires uniquement dans le cas d’une pré-
autorisation et d’un prépaiement bancaire).</div>

<div class="my-8">3. L’Utilisateur s’engage à ne pas :</div>

<div class="my-8">-        utiliser le Service d'une manière susceptible de nuire à la
Société NAHDEV ou à ses partenaires;</div>

<div class="my-8">-        utiliser une partie du Service en tant qu'outil pouvant induire
en erreur la Société NAHDEV ou à des messages commerciaux indésirables ;</div>

<div class="my-8">-        utiliser un processus ou un service automatisé pour accéder au
et/ou utiliser le Service</div>

<div class="my-8">-        endommager, désactiver, surcharger ou détériorer le Service, ni
interférer avec son utilisation et sa jouissance par quiconque.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">7. DONNEES A CARACTERE PERSONNEL</div>

<div class="my-8">La Société NAHDEV, et dans le strict respect de la loi et des règlements
en vigueur, souhaite recueillir certaines informations. Ces informations
sont recueillies conformément aux dispositions relatives à la protection
des données personnelles et notamment au Règlement (UE) 2016/679 du
Parlement européen et du Conseil du 27 avril 2016 relatif à la
protection des personnes physiques à l'égard du traitement des données à
caractère personnel et à la libre circulation de ces données.</div>

<div class="my-8">Le Site et/ou ses partenaires peuvent stocker des informations sur
l'ordinateur de l'Utilisateur. Ces informations prendront la forme de
"Cookie" ou fichier similaire.</div>

<div class="my-8">Les « cookies » sont de petits éléments d’information envoyés vers
l’appareil de l’Utilisateur et stockés sur son disque dur pour permettre
aux sites Web de reconnaître l’Utilisateur lorsqu’il les consulte.</div>

<div class="my-8">Lorsque l’Utilisateur consulte le Site, la Société NAHDEV, sous réserve
du consentement de l’Utilisateur, peut utiliser des cookies, balises
pixel et autres technologies pour recueillir les données suivantes :</div>

<div class="my-8">•        Adresse IP, informations de connexion, type de navigateur,
emplacement, fuseau horaire, système d’exploitation et autres
informations techniques,</div>

<div class="my-8">•        Informations sur la visite, notamment les sites Web consultés
avant et après le Site et les produits consultés,</div>

<div class="my-8">•        Durée des visites sur les pages sur le Site et informations sur
les interactions de l’Utilisateur avec les pages.</div>

<div class="my-8">L'Utilisateur reconnaît et accepte que la Société NAHDEV, avec son
accord, se réserve la possibilité d'implanter un "Cookie" dans son
ordinateur afin d'enregistrer toute information relative à la navigation
de son ordinateur sur le Site.</div>

<div class="my-8">L'Utilisateur est informé par les présentes CGU de ce que les données à
caractère personnel recueillies dans le cadre du Service, avec son
consentement, sont utilisées dans le cadre de ce Service :</div>

<div class="my-8">-       pour les finalités détaillées en 3.6. et 3.7. qui sont destinées
à l’usage exclusif de la Société NAHDEV, qui prend les précautions
nécessaires afin de préserver la sécurité des données.</div>

<div class="my-8">-       pour la finalité détaillée en 3.8. et plus précisément le cas
des informations relatives aux réservations effectuées par l'Utilisateur
dans un ou plusieurs restaurant ayant contracté avec Zenchef, et
utilisant le service de réservation, certaines données à caractère
personnel recueillies peuvent être utilisées à des fins statistiques ou
analyses comportementales, afin de permettre à la Société NAHDEV de
faciliter l’estimation des potentielles non-présentations liées aux
réservations de l’Utilisateur.</div>

<div class="my-8">En procédant à son inscription, l’Utilisateur consent au traitement de
ses données personnelles.</div>

<div class="my-8">Il est précisé que les données personnelles de l’Utilisateur ne pourront
pas faire l’objet d’un transfert dans un pays situé hors de l’espace
économique européen.</div>

<div class="my-8">En outre, l'Utilisateur sera invité au moment de la création de son
compte à donner ou non son consentement à la Société NAHDEV en ce qui
concerne l'utilisation et/ou la cession de ces informations dans le
cadre de partenariats et ce, conformément à la loi, notamment dans le
but de faire profiter l'Utilisateur d'informations et services
personnalisés.</div>

<div class="my-8">Conformément à la réglementation sur la protection des données
applicable, l’Utilisateur dispose des droits d’accès, droit de
rectification, droit de suppression, droit de traitement restreint,
droit d’obtention d’une copie de ses données personnelles à ses propres
fins ou pour les fournir à un autre fournisseur de données de son choix
ainsi que du droit de s’opposer au traitement de ses données
personnelles lorsque celles-ci sont traitées à des fins de marketing direct.</div>

<div class="my-8">L’Utilisateur peut également retirer son consentement à tout moment si
le traitement se fonde sur son consentement.</div>

<div class="my-8">Tous ces droits s’appliquent dans la mesure autorisée par la
réglementation sur la protection des données applicable.</div>

<div class="my-8">Pour exercer ces droits, il suffit à l’Utilisateur d’en faire la demande
par courrier au sous-traitant de la Société NAHDEV, ZENCHEF– Vie privée
63 avenue de Villiers 75017 Paris, ou à l'adresse e-mail suivante :
privacy@zenchef.com.</div>

<div class="my-8">L’Utilisateur peut également exercer son droit de déposer une
réclamation auprès de l'autorité nationale de protection des données en
envoyant sa demande à la CNIL à l’adresse suivante :</div>

<div class="my-8">Commission Nationale de l'Informatique et des Libertés</div>

<div class="my-8">Service des plaintes</div>

<div class="my-8">3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07</div>

<div class="my-8">Un formulaire de réclamation en ligne est disponible en cliquant sur le
lien suivant : <a href="https://www.cnil.fr/fr/plaintes" class="text-lime-700 underline">https://www.cnil.fr/fr/plaintes</a></div>


      <div class="text-lime-700 ml-8 text-xl font-medium">8. PROPRIETE INTELLECTUELLE</div>

<div class="my-8">La Société NAHDEV est seule autorisée à exploiter les droits de
propriété intellectuelle relatifs à son restaurant et au site internet
du restaurant dont elle est titulaire.</div>

<div class="my-8">Les éléments accessibles, notamment sous forme de textes, photographies,
images, icônes, sons, sont également protégés par des droits de
propriété intellectuelle et industrielle et autres droits privatifs.</div>

<div class="my-8">L’Utilisateur ne peut en aucun cas, reproduire, représenter, modifier,
transmettre, publier, adapter, sur quelque support que ce soit, par
quelque moyen que ce soit, ou exploiter de quelque manière que ce soit,
tout ou partie des marques de la Société NAHDEV sans son autorisation
préalable. L’exploitation non préalablement autorisée, à quelque titre
que ce soit, de tout ou partie des informations pourra faire l’objet de
toute action appropriée, notamment d’une action en contrefaçon.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">9. MODIFICATION DU SERVICE</div>

<div class="my-8">1. La Société NAHDEV se réserve le droit de modifier ou de suspendre le
Service ou certaines de ses fonctionnalités sans notification de
réparation, maintenance, amélioration ou autre raison technique et pour
quelque raison que ce soit sans préavis et sans obligation d’avoir à
justifier son acte.</div>

<div class="my-8">2. Une fois le service suspendu, le service ne peut plus être utilisé
par l’Utilisateur. L’Utilisateur bénéficiera toujours d'un droit d'accès
et de rectification de ces données qu'il pourra exercer en adressant un
message à l'adresse électronique suivante : privacy@zenchef.com.</div>


      <div class="text-lime-700 ml-8 text-xl font-medium">10. LOI APPLICABLE ET REGLEMENT DES LITIGES</div>

<div class="my-8">Les présentes CGU sont soumises au droit français.</div>

<div class="my-8">L’Utilisateur est informé qu’il peut en tout état de cause recourir à
une médiation conventionnelle en cas de contestation.</div>

<div class="my-8">Il est également rappelé que tout consommateur a le droit de recourir
gratuitement à un médiateur de la consommation en vue de la résolution
amiable du litige qui l’oppose à un professionnel. A cet effet, NAHDEV
garantit à l’Utilisateur le recours effectif à un dispositif de
médiation de la consommation.</div>

<div class="my-8">Médiation des litiges de consommation : Conformément aux dispositions du
Code de la consommation concernant le règlement amiable des litiges,
NAHDEV adhère au service du Médiateur du e-commerce dont les coordonnées
sont les suivantes : 0238537112.</div>

<div class="my-8">Pour connaître les modalités de saisine du médiateur : 0238537112.</div>

<div class="my-8">Il est enfin rappelé que la médiation n'est pas obligatoire mais
uniquement proposée afin de résoudre les litiges en évitant un recours à
la justice.</div>

<div class="my-8">L’Utilisateur peut également entrer en contact avec la plateforme de
résolution des litiges mise en ligne par la Commission Européenne à
l'adresse suivante : http://ec.europa.eu/consumers/odr/.</div>

<div class="my-8">A défaut de solution amiable, l’affaire sera portée devant les
juridictions compétentes, étant précisé que les délais pour agir
judiciairement ne sont pas interrompus durant la période de recherche
d’une telle solution amiable.</div>

<div class="my-8">En cas de litige ou de contestation, les juridictions françaises seront
seules compétentes et les lois françaises seules applicables.</div>

<div class="my-8">Les litiges nés avec les utilisateurs inscrits au registre du commerce
et des sociétés seront soumis au tribunal de commerce où la Société
NAHDEV est immatriculée.</div>
    </div>
</div>
{% endblock %}
