{% extends 'base.html.twig' %}

{% block title %}Dionysos - Gestion{% endblock %}

{% block body %}

<div>
    <nav id="nav-bar" class="flex flex-row bg-gray-50 py-6 justify-around list-none">
        <li class="text-blue-600 text-lg text-center drop-shadow-md shadow-blue-600">Réservations</li>
        <li class="text-blue-600 text-lg text-center">1</li>
        <li class="text-blue-600 text-lg text-center">2</li>
        <li class="text-blue-600 text-lg text-center">3</li>
    </nav>
    
    <div id="menu" class="px-8 bg-gray-50">
        <div class="mx-16 border-gray-200 border-b-4"></div>
        {% if is_granted('ROLE_ADMIN') %}
            test
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SERVEUR') %}
            test2
        {% endif %}
    </div>
    
</div>
{% endblock %}
