{% extends 'base.html.twig' %}

{% block title %}Dionysos - Gestion{% endblock %}

{% block body %}

<div class="">
    {% if is_granted('ROLE_ADMIN') %}
        test
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SERVEUR') %}
        test2
    {% endif %}
</div>
{% endblock %}
