{% extends 'base.html.twig' %}

{% block title %}Chez Dionysos - Menu{% endblock %}

{% block body %}

    <div class="global-container">

        {% include 'navBar.html.twig' %}

        <div class="article-container">

            {#<div class="gradient"></div>
        <div class="main-article">
        <img src="{{ asset('bd6c3591ce706faa7b68056b557df33d.jpg') }}" class="image-background">
        </div>#}

            {# Title #}
            {% include 'title.html.twig' with {title:'Menu'} %}

            {# gradient #}
            <section class="bg-gradient-to-b from-winter-hazel-100 to-winter-hazel-300 h-8"></section>

            {# First Part #}
            <section class="bg-winter-hazel-300 min-h-screen">
                <div class="p-8 grid grid-cols-6">
                    <div class="divide-y-2 divide-neutral-700 lg:col-span-4 col-span-full lg:col-start-2 col-start-1">
                        <div class="p-2 grid grid-cols-8">
                            <div class="col-span-7">Article</div>
                            <div class="col-span-1" >Prix</div>
                        </div>
                        <div class="col-span-full"></div>
                        {% set currentCategory = null %}
                        {% for item in plats %}
                        {% set closeOpt = false %}
                        {% if item.categorie != currentCategory %}
                            {% set closeOpt = true %}
                            {% set currentCategory = item.categorie %}
                    </div>
                    <div class="divide-y-2 divide-neutral-700 mt-8 lg:col-span-4 col-span-full lg:col-start-2 col-start-1">
                        <div class="px-2 text-xl">{{ currentCategory }}</div>

                        {% endif %}
                        <div class="p-2 grid grid-cols-8">
                            <div class="col-span-7 text-base font-normal">{{ item.nom }}</div>
                            <div class="col-span-1">{{ item.prix }} €</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        {% include 'footer.html.twig' %}

    </div>
{% endblock %}
