{% extends 'base.html.twig' %}

{% block title %}Dionysos - Gestion{% endblock %}

{% block body %}

<div>
    {% include 'staffNavBar.html.twig' %}
    
    <div id="menu" class="py-8 px-16 bg-gray-50">
        <div class="mx-16"></div>
        {% if is_granted('ROLE_ADMIN') %}
            test
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SERVEUR') %}
            test2
        {% endif %}
    </div>
    
</div>
{% endblock %}
